.sc-calendar {
  height: 535px;
  text-align: center;
  font-family: "Microsoft Yahei";
  color: #4A4A4A;
  box-shadow: 2px 4px 5px #bdbdbd;
  border-width: 1px 0 0 1px;
  border-color: #e3e8ee;
  border-style: solid;
  float: left;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  -webkit-text-size-adjust: none;
  font-size: 16px;
}

.sc-calendar7 {
  height: 625px;
  text-align: center;
  font-family: "Microsoft Yahei";
  color: #4A4A4A;
  box-shadow: 2px 4px 5px #bdbdbd;
  border-width: 1px 0 0 1px;
  border-color: #E6E4E0;
  border-style: solid;
  float: left;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  -webkit-text-size-adjust: none;
  font-size: 16px;
}

.sc-header {
  height: 45px;
  border-bottom: 0;
  box-shadow: 2px 4px 5px #bdbdbd;
}
.sc-body {
  clear: both;
  box-shadow: 2px 4px 5px #bdbdbd;
}
.sc-week {
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #e3e8ee;
  border-right: 0px;
  border-left: 0px;
}
.sc-days {
  height: 88%;
}
.sc-item {
  height: 90px;/* 20% 直接写死，不让动态变 */
  float: left;
  font-weight: 600;
  color: #565555;
  width: 14.285%;
  background-color: #ffffff;
  border-width: 0 0 1px 1px;
  border-color: #e3e8ee;
  border-style: solid;
  box-sizing: border-box;
}
.sc-item-include {
  height: 90px;/* 20% 直接写死，不让动态变 */
  float: left;
  font-weight: 600;
  color: #565555;
  width: 14.285%;
  background-color: #baec6847 !important;
  border-width: 0 0 1px 1px;
  border-color: #a1cc5a !important;
  border-style: solid;
  box-sizing: border-box;
}
.sc-item-exclude {
  height: 90px;/* 20% 直接写死，不让动态变 */
  float: left;
  font-weight: 600;
  color: #565555;
  width: 14.285%;
  background-color: rgba(255, 67, 0, 0.22) !important;
  border-width: 0 0 1px 1px;
  border-color: rgba(255, 67, 0, 0.5) !important;
  border-style: solid;
  box-sizing: border-box;
}
.item-nolunar {
  padding-top: 20px;
}
.sc-item:nth-child(7n) .day, .sc-item:nth-child(7n+6) .day {
  color: rgba(224, 8, 8, 0.74);
}
.sc-vocation {
  background-color: #fff0f0;
}
.sc-mark{
  background-color: #E5FBFA;
}
.sc-vocation:before {
  content: '休';
  display: block;
  position: absolute;
  font-size: 0.7em;
  width: 1.2em;
  font-weight: 100;
  color: white;
  background-color: #f43;
}
.sc-othermenth {
  color: #C1C0C0 !important;
}
.sc-othermenth .day, .sc-othermenth .lunar-day {
  color: #C1C0C0 !important;
}
.sc-active-day, .sc-selected {
  border: 1px solid orange;
}
.sc-today {
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
}
.sc-today .ivu-icon{
  color: #fff;
}
 .sc-today .ivu-btn{
   border-color: #fff;
 }
.sc-item .day {
  font-size: 1.5em;
}
.sc-item-include .day {
  font-size: 1.5em;
}
.sc-item-exclude .day {
  font-size: 1.5em;
}
.sc-today .day {
  color: white !important;
}
.sc-item .lunar-day {
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-item-include .lunar-day {
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-item-exclude .lunar-day {
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-item .oper{
	margin-top: 5px;
}
.sc-item-include .oper{
	margin-top: 5px;
}
.sc-item-exclude .oper{
	margin-top: 5px;
}


.sc-festival .lunar-day {
  color: #E00808;
}

.sc-week-item {
  height: 100%;
  padding-top: 1%;
  float: left;
  width: 14.285%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-item-small{
  font-size: 10px !important;
}
.sc-week-item:last-child {
  border-width: 1px 1px 1px 1px;
}
.sc-week-item:nth-child(7n), .sc-week-item:nth-child(7n+6) {
  color: rgba(224, 8, 8, 0.74)!important;
}
.sc-actions {
  float: left;
  width: 25%;
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
}
.sc-actions:last-child {
  float: right;
}
.sc-actions-big{
  width: 50%;
}
@media screen and (max-width : 500px){
.sc-actions{
  width: 50%;
}
}
.sc-header select {
  border-color: rgba(0, 0, 0, 0);
  padding: 0.2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Microsoft Yahei";
  font-size: 13px ;
}
.sc-header input {
  border-color: rgba(0, 0, 0, 0);
  padding: 0.2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Microsoft Yahei";
  color: #606060;
}
.sc-actions div {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  padding-bottom: 5px;
  font-size: 1.5em;
  line-height: 0.9em;
}
.sc-return-today {
  display: block;
  border-radius: 2px;
  width: 60px;
  font-size: 0.8em;
  padding: 0.3em;
  margin: auto;
  cursor: pointer;
}

.sc-time {
  display: block;
  margin-top: 3px;
  font-size: 0.8em;
}

.sc-mright,
.sc-mleft,
.sc-select-month,
.sc-yright,
.sc-select-year,
.sc-yleft{
	cursor: pointer;
}

/************************* 设置排除包含颜色样式 *************************/
.btnWeek{
	background: white;
}
.btnWeek.active{
	background: #e7eaec;
}
.btnDate{
	background: white;
}
.btnDate.active{
	background: #e7eaec;
}